@import '../../styles/buttons.module.scss';

.app__header {
  flex: 1;
  width: 100%;
  height: 100%;
  padding-top: 4rem;
}

.left__right {
  display: flex;
  background-color: #ffffff;
  padding: 2rem 0;

  @media screen and (max-width: 900px) {
    flex-direction: column;
  }
}

.header__left__side {
  width: 60%;

  @media screen and (max-width: 900px) {
    width: 100%;
  }
}

.header__right__side {
  display: flex;
  flex-direction: column;
  justify-content: space-around;

  background-color: #ffffff;
  color: var(--black-color);

  & > div {
    display: flex;
    flex-direction: column;
    margin: 1rem 0.8rem;

    @media screen and (min-width: 900px) {
      margin: 2rem 1.5rem;
    }

    div {
      font-size: 3rem;
      margin: 0.5rem 0;
      @media screen and (min-width: 900px) {
        font-size: 4rem;
      }
      @media screen and (min-width: 2000px) {
        font-size: 5rem;
      }
    }
    p {
      font-size: 1.5rem;
      font-weight: 400;
    }
  }
  form {
    align-self: center;
    button {
      @extend .button_type1;
    }
  }
}
