.events {
  display: flex;
  flex-direction: column;
  padding: 6rem 2rem;
  color: var(--black-color);
  background-color: #ffffff;

  label {
    align-self: center;

    padding: 1rem 0;
    font-weight: 900;
    font-size: 100px;
    mix-blend-mode: hard-light;
  }

  div {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    a {
      padding: 1rem;
      position: relative;

      img {
        width: 410px;
        height: 255px;
        background: rgba(0, 0, 0, 0.1);
        backdrop-filter: blur(2px);
        box-shadow: 4px 8px 5px rgba(0, 0, 0, 0.25);

        border-radius: 30px;

        &:hover {
          box-shadow: 4px 10px 5px rgba(0, 0, 0, 0.25);
        }
      }
      h2 {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        // border-radius: 30px;

        color: var(--primary-color);
        font-weight: 900;
        font-size: 35px;
        text-shadow: 5px 9px 5px rgba(0, 0, 0, 0);
        // backdrop-filter: blur(2px);
      }
    }
  }
}
