.single_event_container {
  display: flex;
  padding-top: 6rem;
  background-color: #ffffff;
  color: var(--black-color);
  position: relative;

  .single_event {
    display: flex;
    flex-direction: column;

    div {
      display: flex;
      flex-direction: column;
      padding: 1rem 2rem;

      h1 {
        font-weight: 900;
        font-size: 55px;
        padding: 2rem 0;

        text-shadow: 4px 8px 5px rgba(0, 0, 0, 0.25);
      }

      p {
        font-weight: 500;
        font-size: 35px;
        font-feature-settings: 'pnum' on, 'lnum' on;
      }

      div {
        display: flex;
        flex-direction: column;
        align-items: center;

        label {
          font-weight: 500;
          font-size: 40px;
          padding: 1rem 0;
        }

        form {
          display: flex;
          flex-direction: column;
          align-items: center;

          input {
            border-style: none;
            text-decoration: none;
            border-radius: 20px;
            background-color: var(--primary-color);
            box-shadow: 4px 8px 5px rgba(0, 0, 0, 0.25);
            width: 250px;
            height: 60px;

            &::placeholder {
              font-family: 'Playfair Display';
              font-weight: 400;
              font-size: 18px;
              padding-left: 0.7rem;

              display: flex;
              align-items: center;

              color: rgba(37, 37, 37, 0.57);
            }
          }
          button {
            font-family: 'Playfair Display';
            border-style: none;
            width: 120px;
            height: 50px;
            font-weight: 400;
            font-size: 20px;
            border-radius: 20px;
            text-transform: capitalize;

            background-color: var(--secondary-color);
            color: var(--primary-color);
            box-shadow: 4px 8px 5px rgba(0, 0, 0, 0.25);
          }
        }
      }
    }
  }

  img {
    width: 50%;
  }
}
