$gray: rgba(229, 231, 235, 1);

.card {
  --gray: $gray;
  width: 350px;
  height: 13rem;
  display: flex;
  grid-gap: 1.25rem;
  gap: 1.25rem;
  border-radius: 1rem;
  background-color: rgba(255, 255, 255, 1);
  padding: 1.5rem;

  &-1 {
    width: 40%;
    border-radius: 0.75rem;
    background-color: var(--gray);
    animation: pulse 2s cubic-bezier(0.4, 0, 0.6, 1) alternate-reverse infinite;
  }

  .right {
    display: flex;
    flex: 1 1 0%;
    flex-direction: column;
    grid-gap: 1.25rem;
    gap: 1.25rem;

    &-2 {
      height: 3.5rem;
      width: 100%;
      border-radius: 1rem;
      background-color: var(--gray);
      animation: pulse 2s cubic-bezier(0.4, 0, 0.6, 1) alternate-reverse
        infinite;
    }

    &-3 {
      height: 0.75rem;
      width: 100%;
      border-radius: 1rem;
      background-color: var(--gray);
      animation: pulse 2s cubic-bezier(0.4, 0, 0.6, 1) alternate-reverse
        infinite;
    }
  }

  .bottom {
    margin-top: auto;
    display: flex;
    grid-gap: 0.75rem;
    gap: 0.75rem;

    &-4 {
      height: 2rem;
      width: 33%;
      border-radius: 9999px;
      background-color: var(--gray);
      animation: pulse 1s cubic-bezier(0.4, 0, 0.6, 1) alternate-reverse
        infinite;
    }
  }
}

@keyframes pulse {
  to {
    opacity: 0.2;
  }
}

.profile_page {
  padding-top: 4rem;

  .layout {
    min-height: 100vh;
  }

  .content {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
  }

  .avatarsCollection {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 10px;
    margin-top: 20px;

    .avatar {
      cursor: pointer;
      transition: border-color 0.3s ease-in-out;
      border: 2px solid transparent;
      box-shadow: 5px 5px 10px #b3b3b3, -5px -5px 10px #ffffff;

      &:hover {
        border-color: #1890ff;
      }

      &.selectedAvatar {
        border-color: #1890ff;
      }
    }
  }
  .avatar {
    box-shadow: 5px 5px 10px #b3b3b3, -5px -5px 10px #ffffff;
  }
}
