.sign_in_page {
  display: flex;
  justify-content: center;

  width: 100%;

  background-color: var(--white-color);

  @media screen and (max-width: 900px) {
    flex-direction: column;
  }
  @media screen and (max-width: 600px) {
    padding-top: 3.8rem;
    padding-bottom: 0;
  }
}
.left_sign_in {
  margin: 5rem 0;
  width: 50%;
  align-self: center;
  background-color: var(--white-color);
  color: var(--black-color);

  @media screen and (max-width: 900px) {
    width: 100%;
  }
}

.right_sign_in {
  display: flex;
  margin: 5rem 0;
  width: 50%;
  align-self: center;
  background-color: var(--black-color);
  color: var(--white-color);

  @media screen and (max-width: 900px) {
    width: 100%;
  }
}
