.sign_page {
  padding-top: 7rem;
  display: flex;
  justify-content: center;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 0.4rem 2rem;

  width: 30%;
  background-color: #171717;
  border-radius: 25px;

  p {
    text-align: center;
    margin: 2rem;
    color: rgb(255, 255, 255);
    font-size: 1.2rem;
  }
}

.field {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  border-radius: 25px;
  padding: 0.6rem;
  border: none;
  outline: none;
  color: white;
  background-color: #171717;
  box-shadow: inset 2px 5px 10px rgb(5, 5, 5);

  svg {
    height: 1.3rem;
    width: 1.3rem;
    fill: white;
  }

  input {
    background: none;
    border: none;
    outline: none;
    width: 100%;
    color: #d3d3d3;
  }
}

.btn {
  display: flex;
  justify-content: center;
  flex-direction: row;
  margin-top: 2.5rem;
}

.button1 {
  padding: 0.5rem;
  padding-left: 1.1rem;
  padding-right: 1.1rem;
  border-radius: 5px;
  margin-right: 0.5rem;
  border: none;
  outline: none;
  transition: 0.4s ease-in-out;
  background-color: #252525;
  color: white;

  &:hover {
    background-color: black;
    color: white;
  }
}

.button2 {
  padding: 0.5rem;
  padding-left: 2.3rem;
  padding-right: 2.3rem;
  border-radius: 5px;
  border: none;
  outline: none;
  transition: 0.4s ease-in-out;
  background-color: #252525;
  color: white;

  &:hover {
    background-color: black;
    color: white;
  }
}

.button3 {
  margin-bottom: 3rem;
  padding: 0.5rem;
  border-radius: 5px;
  border: none;
  outline: none;
  transition: 0.4s ease-in-out;
  background-color: #252525;
  color: white;

  &:hover {
    background-color: red;
    color: white;
  }
}
