.left__right {
  display: flex;
  flex-direction: row;
  width: 100%;
  background-color: var(--black-color);
}

.app__about {
  padding: 7rem 2rem;
  width: 50%;

  background-color: #ffffff;
  color: var(--black-color);

  h1 {
    padding: 2rem 0;
    font-weight: 900;
    font-size: 100px;
    mix-blend-mode: exclusion;
  }

  p {
    font-weight: 500;
    font-size: 35px;
  }
}

.about__right__side {
  position: relative;
  margin: 7rem 0;
  // height: 70vw;
  width: 50%;
  background-color: var(--black-color);
  align-self: center;

  @media screen and (max-width: 900px) {
    width: 100%;
  }
}
