.home {
  position: relative;
  padding-top: 80px;
}

.app__home {
  background-color: #ffffff;
  width: 70%;
  height: 70vw;
  color: var(--black-color);
  position: relative;
  padding-top: 8rem;

  .title {
    position: absolute;
    font-weight: 700;
    font-size: 55px;
    text-align: center;
    left: 50vw;
    top: 2.5rem;
    transform: translateX(-50%);
    text-shadow: 4px 8px 5px rgba(0, 0, 0, 0.25);
  }

  a {
    display: flex;
    padding: 2rem 0;
    position: relative;
    filter: drop-shadow(4px 8px 5px rgba(0, 0, 0, 0.25));

    img {
      height: 200px;
      width: 25vw;
      box-shadow: inset 4px 8px 6px rgba(0, 0, 0, 0.25);
      position: absolute;
      left: 0;
    }

    div {
      padding: 1rem;
      background-color: var(--primary-color);
      height: 200px;
      width: 100%;
      position: relative;
      top: 0;
      left: 25vw;

      h2 {
        font-weight: 700;
        font-size: 50px;
        text-shadow: 4px 8px 5px rgba(0, 0, 0, 0.25);
      }

      p {
        padding: 1rem 0;
        font-weight: 600;
        font-size: 30px;
      }
    }
  }
}
