.home {
  position: relative;
  padding-top: 80px;
}
.container {
  display: flex;
}
.app__home {
  background-color: #ffffff;
  width: 70%;
  height: 70vw;
  color: var(--black-color);
  position: relative;
  padding-top: 8rem;

  .title {
    position: absolute;
    font-size: 55px;
    text-align: center;
    left: 50vw;
    top: 2.5rem;
    transform: translateX(-50%);
    text-shadow: 4px 8px 5px rgba(0, 0, 0, 0.25);
  }

  a {
    display: flex;
    padding: 2rem 0;
    position: relative;
    width: 100%;
    filter: drop-shadow(4px 8px 5px rgba(0, 0, 0, 0.25));

    transition: all 0.5s ease-in-out;

    &:hover {
      color: var(--secondary-color);
    }

    img {
      height: 200px;
      width: 25vw;
      box-shadow: inset 4px 8px 6px rgba(0, 0, 0, 0.25);
      position: absolute;
      left: 4rem;
    }

    div {
      padding: 1rem;
      background-color: var(--primary-color);
      height: 200px;
      width: 100%;
      position: relative;
      top: 0;
      left: 25vw;

      h2 {
        font-size: 50px;
        text-shadow: 4px 8px 5px rgba(0, 0, 0, 0.25);
      }

      p {
        padding: 1rem 0;
        font-size: 30px;
      }
    }
  }

  @media screen and (max-width: 768px) {
    display: none;
  }

  .contact__title {
    position: absolute;
    font-size: 55px;
    text-align: center;
    left: 50vw;
    bottom: 2rem;
    transform: translateX(-50%);
    text-shadow: 4px 8px 5px rgba(0, 0, 0, 0.25);
  }
}

.app__home2 {
  width: 30%;
  background-color: var(--black-color);
}
