.app__contact {
  background-color: var(--black-color);
  position: relative;
  display: flex;

  .contact_left_side {
    color: var(--primary-color);
    width: 70%;
    padding: 4rem 2rem;
  }

  .contact_right_side {
    background-color: #ffffff;
    color: var(--black-color);
    padding: 4rem 2rem;
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    div {
      display: flex;
      font-weight: 400;
      font-size: 28px;
      justify-content: space-evenly;

      svg {
        width: 40;
        // height: 40;
      }
    }
  }
}
