.app__header {
  flex: 1;
  width: 100%;
  height: 100%;
  font-family: 'Playfair Display';

  @media screen and (min-width: 2000px) {
    padding-top: 8rem;
  }
  @media screen and (max-width: 1200px) {
    flex-direction: column;
  }
  @media screen and (max-width: 450px) {
    padding: 6rem 1rem 2rem;
  }
}
.left__right {
  display: flex;
  flex-direction: row;
}

.header__left__side {
  position: relative;
  padding: 1rem 0;
  width: 70%;
  background-color: var(--black-color);

  @media screen and (max-width: 900px) {
    width: 100%;
  }
}

.header__right__side {
  background-color: #ffffff;
  width: 30%;
  padding: 4rem 2rem;
  display: flex;

  div {
    margin: auto;
    align-self: center;

    h2 {
      color: var(--black-color);
      font-weight: 800;
      font-size: 50px;
      text-align: center;
      text-transform: uppercase;

      text-shadow: 4px 8px 5px rgba(0, 0, 0, 0.25);
      backdrop-filter: blur(50px);
    }

    div {
      display: flex;
      flex-direction: column;
      color: var(--black-color);
      padding: 2rem 1rem;

      form {
        display: flex;
        flex-direction: column;
        align-items: center;

        label {
          color: var(--black-color);

          font-weight: 600;
          font-size: 25px;
          padding-right: 0.5rem;
          margin-right: 0.5rem;

          text-shadow: 4px 8px 5px rgba(0, 0, 0, 0.25);
          backdrop-filter: blur(50px);
        }

        input {
          border-style: none;
          text-decoration: none;
          border-radius: 20px;
          background-color: var(--primary-color);
          box-shadow: 4px 8px 5px rgba(0, 0, 0, 0.25);
          width: 250px;
          height: 60px;

          &::placeholder {
            font-family: 'Playfair Display';
            font-weight: 400;
            font-size: 18px;
            padding-left: 0.7rem;

            display: flex;
            align-items: center;

            color: rgba(37, 37, 37, 0.57);
          }
        }
        button {
          font-family: 'Playfair Display';
          border-style: none;
          width: 120px;
          height: 50px;
          font-weight: 400;
          font-size: 20px;
          border-radius: 20px;
          text-transform: capitalize;

          cursor: pointer;

          background-color: var(--secondary-color);
          color: var(--primary-color);
          box-shadow: 4px 8px 5px rgba(0, 0, 0, 0.25);
        }
      }
    }
  }

  @media screen and (max-width: 900px) {
    width: 100%;
  }
}
