.app__navbar {
  width: 100%;
  height: 99.55px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  background: var(--black-color);
  position: fixed;
  z-index: 5;
}

.app__navbar_logo {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 1rem 2rem;

  div {
    color: var(--primary-color);
    text-align: center;
    font-size: 35px;

    @media screen and (max-width: 900px) {
      display: none;
    }
  }
  img {
    margin: 0 0.5rem;
    width: 50px;
    height: 30px;
  }
}

.app__navbar_links {
  flex: 1;
  display: flex;
  // width: min-content;
  height: 100%;
  justify-content: flex-end;
  align-items: center;
  color: var(--primary-color);
  background-color: var(--black-color);
  padding-right: 1rem;
  font-size: 30px;

  list-style: none;

  a {
    padding: 0 1rem;
    height: 100%;
    display: flex;
    align-items: center;
    text-decoration: none;

    text-transform: capitalize;
    transition: all 0.3s ease-in-out;

    &:hover {
      background-color: var(--primary-color);
      color: var(--secondary-color);
    }
  }

  @media screen and (max-width: 900px) {
    display: none;
  }
}

.dropdown {
  position: relative;
  display: inline-block;
  margin: 0 1rem;
  cursor: context-menu;
}
.dropdown:hover .dropdown_content {
  display: block;
}

.dropdown_content {
  display: none;
  position: absolute;

  // top: 50px;
  right: 0;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;

  a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;

    &:hover {
      background-color: #f1f1f1;
    }
  }
}

.app__navbar_menu {
  width: 35px;
  height: 35px;
  position: relative;
  margin-right: 2rem;

  display: flex;
  justify-content: center;
  align-items: center;

  svg {
    width: 100%;
    height: 100%;
    color: var(--white-color);
  }
  .app__navbar_menu_container {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    z-index: 5;

    padding: 1rem;
    width: 60%;
    height: 100vh;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    flex-direction: column;

    background-color: var(--white-color);
    background-size: cover;
    background-repeat: repeat;
    box-shadow: 0 0 20px rgba(168, 168, 168, 0.15);

    svg {
      width: 35px;
      height: 35px;
      color: var(--secondary-color);
      margin: 0.5rem 1rem;
    }

    ul {
      list-style: none;
      margin: 0;
      padding: 0;
      height: 100%;
      width: 100%;
      display: flex;
      justify-content: flex-start;
      align-items: flex-start;
      flex-direction: column;

      li {
        margin: 1rem;

        a {
          color: var(--primary-color);
          text-decoration: none;
          font-size: 2rem;
          text-transform: capitalize;
          transition: all 0.3s ease-in-out;

          &:hover {
            color: var(--secondary-color);
          }
        }
      }
    }
    @media screen and (min-width: 900px) {
      display: none;
    }
  }
  @media screen and (min-width: 900px) {
    display: none;
  }
}
