.footer {
  display: flex;
  flex: 1 1;
  padding: 2rem 0;
  justify-content: space-evenly;
  align-items: flex-start;

  color: var(--black-color);
  background-color: var(--primary-color);

  @media screen and (max-width: 768px) {
    display: grid;
    grid-gap: 1rem;
    grid-template-columns: auto auto;
    font-size: smaller;
    div {
      justify-content: flex-start;

      div {
        margin-bottom: 1rem;
      }
    }
  }

  div {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-content: space-around;
    align-items: flex-start;

    div {
      text-transform: uppercase;
      margin-bottom: 2rem;
    }

    a {
      display: flex;
      justify-content: flex-start;
      align-items: flex-start;
      flex-grow: 1;
      margin: 0.1rem 0 0.1rem 0;
    }
  }
}

.buttom_footer {
  display: flex;
  justify-content: space-between;
  padding: 1rem 2rem;
  align-items: center;

  color: var(--primary-color);
  background-color: var(--secondary-color);

  @media screen and (max-width: 768px) {
    font-size: smaller;
  }
}

.app__footer_logo {
  width: 70%;
  display: flex;
  justify-content: flex-start;
  align-items: center;

  div {
    color: var(--primary-color);
    text-align: center;
    font-size: 35px;
  }
  img {
    width: 60px;
    height: 60px;

    @media screen and (min-width: 2000px) {
      width: 100px;
      height: 100px;
    }
  }
  @media screen and (max-width: 900px) {
    width: 100%;
  }
}

.copyright {
  text-transform: capitalize;
  font-size: 18px;
  text-align: center;

  @media screen and (max-width: 768px) {
    font-size: 14px;
  }
}
