.footer {
  display: flex;
  align-items: center;
  justify-content: space-evenly;

  height: 100%;
  width: 100%;

  color: var(--primary-color);
  background-color: var(--black-color);

  @media screen and (max-width: 600px) {
    flex-direction: column;
    align-items: center;
  }
}

.links {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  margin: 1rem 0;
  font-size: 20px;

  a {
    margin: 0.5rem 1rem;
  }
  @media screen and (min-width: 600px) {
    flex-direction: column;
  }
  @media screen and (min-width: 2000px) {
    font-size: 30px;
  }
}

.middle {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 230px;
  font-size: 20px;
  margin: 1rem 0;

  @media screen and (min-width: 2000px) {
    font-size: 30px;
  }
}

.contact_info {
  color: var(--primary-color);
  display: flex;
  flex-direction: column;
  margin: 1rem 0;

  div {
    display: flex;
    margin: 0.6rem 0;
    svg {
      width: 40;
      margin: 0.5rem 1rem;
    }
  }
}

.social_media {
  display: flex;

  a {
    margin: 0 0.5rem;
    width: 40px;
    svg {
      width: 40px;
      height: 40px;
    }
  }
}

.buttom_footer {
  display: flex;
  justify-content: space-between;
  padding: 1rem 2rem;
  align-items: center;
  height: 5rem;
  width: 100%;

  color: var(--primary-color);
  background-color: var(--secondary-color);
}

.app__footer_logo {
  display: flex;
  justify-content: flex-start;
  align-items: center;

  div {
    color: var(--primary-color);
    text-align: center;
    font-size: 30px;

    @media screen and (max-width: 600px) {
      display: none;
    }
  }
  img {
    margin: 0 0.5rem;
    width: 50px;
    height: 30px;
  }
}

.copyright {
  text-transform: capitalize;
  font-size: 16px;
  text-align: center;

  @media screen and (max-width: 600px) {
    font-size: 12px;
  }
}

.subscribe {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;

  margin: 3rem 1rem;
  height: 160px;
  min-height: 140px;
  width: 300px;
  padding: 20px;
  background-color: #fff;
  border-radius: 4px;
  color: #333;
  box-shadow: 0px 0px 60px 5px rgba(0, 0, 0, 0.4);

  p {
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    letter-spacing: 4px;
    line-height: 28px;
  }

  input {
    bottom: 30px;
    border: none;
    border-bottom: 1px solid #d4d4d4;
    padding: 10px;
    width: 82%;
    background: transparent;
    transition: all 0.25s ease;
    color: #0d095e;

    &:focus {
      outline: none;
      border-bottom: 1px solid #0d095e;
      font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS',
        'sans-serif';
    }
  }

  @media screen and (max-width: 400px) {
    max-width: 220px;
  }
  @media screen and (min-width: 900px) {
    min-width: 400px;
    min-height: 200px;
  }
}

.submit_btn {
  position: absolute;
  border-radius: 30px;
  border-bottom-right-radius: 0;
  border-top-right-radius: 0;
  background-color: #669bbc;
  color: var(--white-color);
  padding: 12px 25px;

  display: inline-block;
  font-size: 12px;
  font-weight: bold;
  letter-spacing: 5px;
  right: -10px;
  bottom: -30px;
  cursor: pointer;
  transition: all 0.25s ease;
  box-shadow: -5px 6px 20px 0px rgba(26, 26, 26, 0.4);

  &:hover {
    background-color: #527090;
    box-shadow: -5px 6px 20px 0px rgba(88, 88, 88, 0.569);
  }
}
