.footer {
  display: flex;
  flex: 1 1;
  padding: 2rem 0;
  border-top: 1px solid #eaeaea;
  justify-content: space-evenly;
  align-items: flex-start;
  background-color: #d9d9d9;
  border-top: 2px solid #d9d9d0;

  @media screen and (max-width: 768px) {
    display: grid;
    grid-gap: 1rem;
    grid-template-columns: auto auto;
    font-size: smaller;
    div {
      justify-content: flex-start;

      div {
        margin-bottom: 1rem;
      }
    }
  }

  div {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-content: space-around;
    align-items: flex-start;

    div {
      font-weight: bold;
      text-transform: uppercase;
      margin-bottom: 2rem;
    }

    a {
      display: flex;
      justify-content: start;
      align-items: flex-start;
      flex-grow: 1;
      margin: 0.1rem 0 0.1rem 0;
    }
  }
}

.buttom_footer {
  display: flex;
  justify-content: space-between;
  background-color: #957070;
  padding: 1rem;
  padding-left: 2rem;
  padding-right: 2rem;

  @media screen and (max-width: 768px) {
    font-size: smaller;
  }

  div {
    display: flex;
    align-items: center;
    img {
      height: inherit;
    }
    div {
      align-items: center;
    }
  }
}
