.left_right {
  display: flex;
  width: 100%;
  background-color: var(--black-color);

  @media screen and (max-width: 900px) {
    flex-direction: column;
  }
}

.about_left_side {
  padding: 5rem 2rem;
  width: 50%;

  background-color: var(--white-color);
  color: var(--black-color);

  h1 {
    padding: 2rem 0;
    font-size: 100px;
    mix-blend-mode: exclusion;

    @media screen and (max-width: 900px) {
      font-size: 70px;
    }
    @media screen and (max-width: 600px) {
      font-size: 40px;
    }
  }

  p {
    font-size: 35px;
    @media screen and (max-width: 900px) {
      font-size: 25px;
    }
    @media screen and (max-width: 600px) {
      font-size: 15px;
    }
  }

  @media screen and (max-width: 900px) {
    width: 100%;
    padding: 4rem 2rem;
  }
}

.about_right_side {
  // margin-top: 3rem;
  width: 50%;
  align-self: center;
  background-color: var(--black-color);

  img {
    width: 100%;
    height: 100%;
  }

  @media screen and (max-width: 900px) {
    width: 100%;
  }
}
