html,
body {
  padding: 0;
  margin: 0;
  font-family: 'NoirPro';
}

@font-face {
  font-family: 'NoirPro';
  src: url('/fonts/NoirPro-Regular.woff') format('woff'),
    url('/fonts/NoirPro-Regular.wof2') format('wof2');
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: 'NoirPro';
  src: url('/fonts/NoirPro-Bold.woff') format('woff'),
    url('/fonts/NoirPro-Bold.wof2') format('wof2');
  font-style: normal;
  font-weight: 700;
  font-display: swap;
}

@font-face {
  font-family: 'NoirPro';
  src: url('/fonts/NoirPro-Medium.woff') format('woff'),
    url('/fonts/NoirPro-Medium.wof2') format('wof2');

  font-style: normal;
  font-weight: 500;
  font-display: swap;
}

a {
  color: inherit;
  text-decoration: none;
}
:root {
  --primary-color: #eeeeee;
  --secondary-color: #83070f;
  --black-color: #252525;
  --lightGray-color: #d9d9d9;
  --gray-color: #6b7688;
  --brown-color: #46364a;
  --white-color: #ffffff;

  --font-base: 'NoirPro';
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: var(--black-color);
  }
}

button {
  border-style: none;
  max-width: 400px;
  min-width: 150px;
  height: 50px;
  margin: 0.5rem;

  align-self: center;
  align-items: center;
  font-size: 25px;
  border-radius: 20px;
  text-transform: capitalize;

  cursor: pointer;

  background-color: var(--secondary-color);
  color: var(--primary-color);
  box-shadow: 4px 8px 5px rgba(0, 0, 0, 0.25);
}
