.app_top {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 3rem 0;

  background-color: var(--black-color);
  color: var(--primary-color);

  .title {
    font-size: 55px;
    text-align: center;
    @media screen and (max-width: 600px) {
      font-size: 40px;
    }
  }
  div {
    display: flex;
    justify-content: center;

    @media screen and (max-width: 900px) {
      flex-direction: column;
    }

    a {
      flex-direction: column;
      display: flex;
      margin: 2rem 1rem;

      max-width: 500px;
      min-width: 250px;
      height: 500px;
      align-items: center;
      align-self: center;

      border-radius: 30px;

      background-color: var(--primary-color);
      color: var(--black-color);

      filter: drop-shadow(4px 8px 5px rgba(0, 0, 0, 0.25));
      transition: all 0.3s ease-in-out;

      &:hover {
        color: var(--secondary-color);
        filter: drop-shadow(4px 8px 5px rgba(255, 255, 255, 0.25));
      }
      @media screen and (max-width: 300px) {
        width: 250px;
        height: 400px;
      }

      @media screen and (min-width: 900px) {
        width: 270px;
        height: 700px;
      }

      @media screen and (min-width: 1400px) {
        width: 400px;
        height: 700px;
      }
      @media screen and (min-width: 2000px) {
        width: 500px;
        height: 700px;
      }

      img {
        margin: 2rem;
        height: 250px;
        width: 250px;
        border-radius: 100%;

        box-shadow: inset 4px 8px 6px rgba(0, 0, 0, 0.25);

        @media screen and (max-width: 300px) {
          width: 150px;
          height: 150px;
        }

        @media screen and (min-width: 900px) {
          width: 200px;
          height: 200px;
        }
        @media screen and (min-width: 2000px) {
          width: 300px;
          height: 300px;
        }
      }

      div {
        flex-direction: column;
        padding: 1rem;
        font-size: 25px;
        @media screen and (max-width: 900px) {
          font-size: 15px;
        }
        h2 {
          text-align: center;
          font-size: 40px;
          text-shadow: 4px 8px 5px rgba(0, 0, 0, 0.25);
          @media screen and (max-width: 900px) {
            font-size: 25px;
          }
        }

        p {
          padding: 1rem 0;
        }
      }
    }
  }
}
