.app_top {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 3rem 0;

  background-color: var(--black-color);
  color: var(--primary-color);

  .title {
    font-size: 55px;
    text-align: center;
    @media screen and (max-width: 600px) {
      font-size: 40px;
    }
  }
}

.list {
  display: flex;
  justify-content: center;
  margin: 3rem 1rem;

  @media screen and (max-width: 900px) {
    flex-direction: column;
  }
}

.card {
  height: 300px;
  width: 250px;
  max-width: 400px;
  min-width: 250px;
  overflow: visible;

  display: flex;
  flex-direction: column;
  align-items: center;

  border-radius: 30px;
  margin: 2rem 1rem;

  background: var(--white-color);
  box-shadow: 0 5px 20px 2px rgba(0, 0, 0, 0.1);

  @media screen and (min-width: 2000px) {
    width: 400px;
    height: 500px;

    &:hover {
      img {
        --size: 120px;
        width: var(--size);
        height: var(--size);
      }
    }
  }
  @media screen and (max-width: 900px) {
    margin-top: 4rem;
  }
  &:hover {
    img {
      --size: 100px;
      width: var(--size);
      height: var(--size);
    }
  }
}

.card_img {
  --size: 120px;
  width: var(--size);
  height: var(--size);
  border-radius: 50%;
  transform: translateY(-50%);

  transition: all 0.3s ease-in-out;

  &::before {
    content: '';
    border-radius: inherit;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 90%;
    height: 90%;
    transform: translate(-50%, -50%);

    border: 2rem solid var(--white-color);
  }

  @media screen and (min-width: 2000px) {
    --size: 150px;
  }
}

.text_title {
  text-transform: uppercase;
  font-size: 1.2em;
  letter-spacing: 0.05rem;
  padding-bottom: 0.5rem;
  color: var(--secondary-color);
}

.text_body {
  font-size: 1em;
  text-align: center;
  padding: 0 1rem;
  font-weight: 400;
  font-style: italic;
  overflow: scroll;

  color: var(--black-color);
}
